Host *
  ForwardAgent yes
  PubkeyAcceptedKeyTypes=+ssh-dss
  KexAlgorithms=+diffie-hellman-group1-sha1

Host mah.org
  Port 3000

Host *.mah.org 192.168.*
  HostName %h
  User root
  ProxyCommand ssh akam@mah.org nc %h %p

