Host *
  ForwardAgent yes
  PubkeyAcceptedKeyTypes=+ssh-dss
  KexAlgorithms=+diffie-hellman-group1-sha1
  RemoteForward 52698 127.0.0.1:52698

Host mah.org
  Port 3000

Host *.mah.org 192.168.*
  HostName %h
  User root
  ProxyCommand ssh akam@mah.org nc %h %p

Host *.nch.ru
  HostName %h
  User root
  ProxyCommand ssh akam@nch.ru nc %h %p
